<div id="cartDetails" style="display: block;">
  <h1>Cart Details</h1>
  <a class="backButton" href="/menu/all">Back</a>
  <hr />

  <h2>Edit cart details</h2>

  <div class="formError"></div>
  <table id="MenuListTable">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th> </th>
    </tr>
    <tr id="noChecksMessage">
      <td colspan="5"> Your Cart is currently Empty! </td>
    </tr>

  </table>

  <div id="createCheckCTA" class="ctaWrapper"></div>
</div>

<div id="checkout" style="display: none;">
  <h1> Checkout </h1>
  <a class="backButton" href="/menu/all">Back</a>
  <hr />

  <div class="formWrapper">
    <form id="checkoutForm" action="/api/checkout" method="POST">
      <div class="formError"></div>

      <div class="inputWrapper">
        <div class="inputLabel">Card Number</div>
        <input type="text" name="cardNumber" minlength="11" placeholder="valid card number please." />
      </div>
  
      <div class="inputWrapper">
        <div class="inputLabel">CVV</div>
        <input type="text" name="cvv" placeholder="Your cvv please." />
      </div>
  
      <div class="inputWrapper">
        <div class="inputLabel">Expiry Month</div>
        <input type="number" name="expiryMonth" placeholder="Expiry Month" value="02"/>
      </div>
  
      <div class="inputWrapper">
        <div class="inputLabel">Expiry Year</div>
        <input type="number" name="expiryYear" placeholder="Expiry Year" value="2022"/>
      </div>

      <div class="inputWrapper">
        <div class="inputLabel">Email</div>
        <input type="email" name="email" placeholder="Email" value="user@provider.com"/>
      </div>

      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta green">Place Order</button>
      </div>
    </form>
  </div>

</div>